<%-include("./partials/header")%>

<style type="text/css">
	span{
	padding-left:50px;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand nav-link" href="#">Qprint</a>
			<a class="navbar-brand nav-link" href="#">Admin Panel</a>
		</div>
		<div class="collpase navbar-collapse">
			<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/delete">Delete</a></li>
					<li class="nav-item"><a class="nav-link" href="/admin">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
			</ul>
		</div>
	</div>
</nav>








<div class="container" style="margin-top:25px">

<div class="row">
<div class="col-sm-12">
	<%for(let record of info){%>
		<%for(let data of record.links){%>
			<div class="card">
			  <div class="card-body text-center">
			    <p>Student-<%=record.username%></p>
			   	<p>FileName-<%=data.title%><span class="pp"><%=data.date%></span></p>
			   	<a class="btn btn-success" href="<%=data.link%>">Gdrive Link</a>
			  </div>
			</div>
		<%}%>
	<%}%>
</div>
</div>
</div>

<%-include("./partials/footer")%>
